Repository nickmaccarthy/ClipChop: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd src-tauri && cargo fmt --all -- --check'
        language: system
        pass_filenames: false
        files: ^src-tauri/.*\.(rs|toml)$

      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd src-tauri && cargo check --quiet'
        language: system
        pass_filenames: false
        files: ^src-tauri/

feat: first relase
  .github/workflows/ci.yml
  .releaserc.json
Due: none

style: apply rustfmt formatting to main.rs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-check

perf: speed up CI by removing unnecessary Tauri CLI install and using cargo-binstall
  .github/workflows/ci.yml
  README.md
Due: none

fix(ci): fix build failures across all three platforms
  .github/workflows/ci.yml
  README.md
Due: none

fix: regenerate all platform icons from updated logo
  src-tauri/icons/icon.icns
Due: cargo-check

fix(ci): add bundle icon paths to tauri.conf.json for AppImage build
  src-tauri/tauri.conf.json
Due: cargo-check

Notes added by 'git notes add'
  0967fc907d5883486de901454eb1a06442906203
Due: none

docs: add macOS Gatekeeper workaround to README
  README.md
Due: none
